* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  /* font-size: 10px; */
  /*  10px / 16px  = 0.625 = 62.5% */
  /* Percentage of user's browsers font-setting*/
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1;
  font-weight: 400;
}

.container {
  padding: 0 2.4rem;
}

/* FLEX*/

.main-nav-link {
  display: flex;
  padding: 0;
  list-style: none;
  justify-content: space-between;
}
.social-icons {
  display: flex;
  gap: 1.2rem;
}

/*  NAViGATION */

.main-nav {
  margin-top: 1.6rem;
}

.logo {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2rem;
  color: #6070ff;
}

/* HERO SECTION */

.section-hero {
  padding: 2.4rem 0 6.4rem 0;
}

.hero {
  padding: 0 3.2rem;
}
.header {
  margin-bottom: 2.4rem;
}

.heading-primary,
.hero-description {
  margin-bottom: 1.8rem;
}

.heading-primary {
  font-weight: 700;
  font-size: 4.2rem;
  line-height: 3.8rem;
  color: #172b4d;
}

.hero-description {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #344563;
}
